@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LapBase</h1>
    <p class="lead">

        
        @((Lapbase_Application.Controllers.HomeController)this.ViewContext.Controller).Index("a","b");

    </p>
</div>

