@model Lapbase_Application.Models.test
@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <title>Lapbase Login</title>
   
</head>
<body>
    <div class="login-page">
        <div class="form">
            <form class="forgot-password">
                <input type="text" placeholder="user name" />
                <input type="text" placeholder="password" />
                <button>Login</button>
                @Model.b
                @Model.message
            </form>
        </div>
    </div>
</body>
</html>